.post-post-feed
  %h4.post-feed-heading= "Senaste uppdateringarna"

  %ol
    - posts.each do |post|
      %li.post-feed
        %h4.post-feed-heading= post.title

        %p.post-feed-text
          = simple_format(post.body)

      -#%hr.post-divider

    - if posts.present? and posts.length > 0
      .post-pagination
        = paginate posts