%aside.post-aside-1
  %h4.post-feed-heading.heading-background.heading-center Senaste inläggen

  %nav
    %ol
      - latest_posts.each do |post|
        %li.post
          %h4.post-latest-link= link_to(post.title,post_path(post))

%aside.post-aside-2
  .post-admin
    %h2.post-admin-heading.heading-background.heading-center Administration
    %nav
      %ol
        %li
          %h4.post-latest-link= link_to('Ny post', new_post_url, :class => "button add")
