%section.post

  .post-main
    = render partial: 'posts', locals: {posts: @posts[0,[@posts.length,3].min]}

  %aside.post-aside-1
    %h4 Latest posts

    %ol
      - latest_posts.each do |post|
        %li.update
          %h4.update-heading= link_to(post.title,post_path(post))


  %aside.post-aside-2
    .post-admin
      %h2 Admin section
      %ol
        %li
          = link_to('new post', new_post_url, :class => "button add")
