.first.grid1 &nbsp;
.grid10.box
  .first.grid10.subhead
    .first.grid2.label
      %h3 
        = @post.title
  .first.grid10.article_attribute
    = simple_format(@post.body)
  .first.grid10.article_attribute
