%section.post

  .post-main
    .post-background
      %h4.post-show-heading= @post.title
      %p.post-feed-text
        = simple_format(@post.body)

  = render partial: 'side_bars', locals: {post: @post}

