// Font Sizes
// -----------------------------------------------------------------------------

// Taken from the table on http://developer.yahoo.com/yui/fonts/#using

@mixin font_8px
  font-size: 62%
@mixin font_10px
  font-size: 77%
@mixin font_11px
  font-size: 85%
@mixin font_12px
  font-size: 93%
@mixin font_13px
  font-size: 100%
@mixin font_14px
  font-size: 108%
@mixin font_16px
  font-size: 123.1%
@mixin font_18px
  font-size: 138.5%
@mixin font_19px
  font-size: 146.5
@mixin font_20px
  font-size: 161.6%
@mixin font_21px
  font-size: 161.6%
@mixin font_22px
  font-size: 167%
@mixin font_23px
  font-size: 174%
@mixin font_24px
  font-size: 182%
@mixin font_25px
  font-size: 189%
@mixin font_26px
  font-size: 197%
@mixin font_32px
  font-size: 242%
@mixin font_54px
  font-size: 407%


