html
  -webkit-text-size-adjust: 100%

body
  margin: 1em

p
  margin-top: 1em

strong
  font-weight: bold

a:link, a:visited
  color: inherit
  text-decoration: none
a:hover
  color: #adff2f
  text-decoration: underline
  
figure
  margin: 0
