@import 'typography'

// Site Header
// -----------------------------------------------------------------------------

.site-nav
  margin: 3em 0

.site-logo
  background: url('logo_black.png') no-repeat left top
  width: 120px
  height: 63px
  text-indent: -9999px

// posts
// -----------------------------------------------------------------------------

.post-feed-heading
  @include font_18px
  font-weight: bold

.post-show-heading
  @include font_26px
  font-weight: bold

.post-admin-heading
  @include font_18px
  font-weight: bold
  margin-bottom: 0.5em
  
.post-feed
  clear: left
  margin: 0.5em

.post-background
  padding: 1em
  border-left: 0.1em solid hsla(328, 86%, 49%,.5) // color #ea1287
  border-rigth: 0.1em solid hsla(328, 86%, 49%,.5)
  border-bottom: 0.1em solid hsla(328, 86%, 49%,.5)
  background-color: hsla(328, 86%, 49%,.5)
  background-image: -moz-linear-gradient(top, rgb(0,0,0),rgb(234,18,135))
  background-image: -webkit-linear-gradient(top, rgb(0,0,0),rgb(234,18,135))
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  border-radius: 1em

.post-divider
  border: 1px solid #ea1287

.post-feed-heading
  font-weight: bold
  margin-bottom: 0.5em

.post-feed-text
  margin-top: 0.5em
  margin-bottom: 2em

// Headings
// -----------------------------------------------------------------------------
.heading-center
  text-align: center
  
.heading-background
  margin: 0.2em
  padding: 0.5em
  -moz-border-radius: 1em
  -webkit-border-radius: 1em
  border-radius: 1em
  background-image: -moz-linear-gradient(top, rgb(0,0,0), rgb(0,0,255),rgb(0,0,0))
  background-image: -webkit-linear-gradient(top, rgb(0,0,0), rgb(0,0,255),rgb(0,0,0))

.aside-heading
  font-weight: bold
  margin-bottom: 1.5em

