@import 'typography'

// Site Header
// -----------------------------------------------------------------------------

.site-nav
  margin: 2em 0

.site-logo
  background: url('logo.png') no-repeat left top
  width: 120px
  height: 63px
  text-indent: -9999px

// posts
// -----------------------------------------------------------------------------

.post-feed-heading
  font-size: 123.1%
  font-weight: bold

.post-show-heading
  font-size: 200%
  font-weight: bold

.post-admin-heading
  font-size: 120%
  font-weight: bold

.post-feed
  clear: left
  margin-top: 1em

.post-feed-heading
  font-weight: bold
  margin-bottom: 0.5em

.post-feed-thumbnail
  float: left
  margin-right: 0.5em
  margin-bottom: 0.5em

.post-feed-text
  margin-top: 0

// Images
// -----------------------------------------------------------------------------

.elastic-image
  width: 100%

// Headings
// -----------------------------------------------------------------------------

.aside-heading
  font-weight: bold
  margin-bottom: 1em