@import 'typography'

// Site Header
// -----------------------------------------------------------------------------

.site-nav
  margin: 3em 0

.site-logo
  background: url('logo_black.png') no-repeat left top
  width: 120px
  height: 63px
  text-indent: -9999px

// posts
// -----------------------------------------------------------------------------

.post-feed-heading
  @include font_18px
  font-weight: bold

.post-show-heading
  @include font_26px
  font-weight: bold

.post-admin-heading
  @include font_18px
  font-weight: bold
  margin-bottom: 0.5em
  
.post-feed
  clear: left
  margin-top: 1.5em

.post-divider
  border: 1px solid #ea1287

.post-feed-heading
  font-weight: bold
  margin-bottom: 0.5em

.post-feed-text
  margin-top: 0.5em
  margin-bottom: 2em

// Headings
// -----------------------------------------------------------------------------

.aside-heading
  font-weight: bold
  margin-bottom: 1.5em

